  .scroll-shadows {
    list-style: none;
    padding-right: 0.5rem;
  }

  .scroll-shadows {
    --scrollbarBG: transparent;
    --thumbBG: rgb(163, 206, 241);
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  .scroll-shadows::-webkit-scrollbar {
    width: 1px;
    height: 3px;
  }
  .scroll-shadows::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  .scroll-shadows::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 1px solid var(--scrollbarBG);
  }